@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital@1&family=Source+Sans+Pro&display=swap');

body {
    background-color: #EDF6F9;
    font-family: "Source Sans Pro", Helvetica, sans-serif;
    font-size: 22px;
    margin: 0;
    padding: 0;
}
#content {
    max-width: 1600px;
    margin: 0 auto;
}
header {
    background-color: #4B7E79;
}
#logo_link {
    padding-top: 5px;
}
.logo {
    width: 80px;
}
nav a {
    text-align: center;
    color: #EDF6F9;
    text-decoration: none;
    padding: 35px;
}
nav a:hover{
    background-color: #EDF6F9;
    color: #4B7E79;
}
#hero-img {
    width: 100%;
}
#hero-msg h1, #hero-msg h4 {
    text-align: center;
}
.home-title {
    color: #471323;
    font-family: "Playfair Display", Georgia, serif;
    font-size: 2em;
    margin-top: 10px;
}
h4 {
    color:#471323;
}
.book, .join {
    background-color: #A76D60;
    color: #EDF6F9;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}
.book:hover, .join:hover {
    background-color: #EDF6F9;
    color: #A76D60;
}
.button-box{
    text-align: center;
}
main section {
    text-align: center;
}
main section img {
    box-sizing: border-box;
}
.rivers-card, .camping-card, .rapids-card {
    margin: 200px 0;
}
.card-img {
    border: 10px solid #A76D60;
}
.icon {
    width: 80px;
    padding-top: 10px;
}
h2 {
    margin: 0;
}
#background {
    height: 725px;
    background-color: #A76D60;
    margin-bottom: 100px;
}
.msg {
    background-color: #EDF6F9;
    line-height: 1.5em;
    padding: 35px;
    margin-top: 200px;
}
.msg h2 {
    color: #471323;
    font-family: "Playfair Display", Georgia, serif;
}
.msg p {
    color:#471323;
    padding-bottom: 15px;
    font-size: .8em;
}
footer{
    background-color: #4B7E79;
    color:#EDF6F9;
    padding: 25px 50px;
    margin-top: 200px;
}
footer p {
    font-size: 1.2em;
}
footer a {
    color: #EDF6F9;
    text-decoration: none;
}
footer a:hover {
    color: #471323;
    text-decoration: underline;
}
footer .social img{
    padding-top: 15px;
}